<a href="https://colab.research.google.com/github/mdarafat-boop/Exploratory_Data_Analysis_EDA_with_PANDAS/blob/main/Copy_of_cust_pranch_data_exracice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hey there,
I'll gonna show :
How to do data analysis using PANDAS in PYTHON

In [21]:
import pandas as pd
import csv
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/cust_purch_data_exracice/Cust_Purch_FakeData.csv'

cust = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Questin 1: How many entries your data have? Can you tell the no. of columns in your data?

In [ ]:
cust.info() # hit play button to run it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

Question no 2: What are the max and min ages of your customer? Can you find mean of your customer?

In [3]:
print('The maximun ages of the customers: ',cust['age'].max())
print('The minimum ages of the customers: ',cust['age'].min())
print('The avarege ages of the customers: ',cust['age'].mean().round(2))

The maximun ages of the customers:  65
The minimum ages of the customers:  18
The avarege ages of the customers:  41.55

Question no 3: What are the three most common customer's names?

In [4]:
cust['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

Question no 4:  Two customers have the same phone number, can you find those customers?

In [5]:
cust.groupby('phone')['first'].count().sort_values(ascending=False).head(1)

phone
(263) 382-8004    2
Name: first, dtype: int64

Question no. 5: How many customers have profession "Structural Engineer"?

In [6]:
cust[cust['profession'] == 'Structural Engineer'].count()['profession']

np.int64(87)

Question no. 6 : How many male customers are 'Structural Engineer'?

In [7]:
cust[(cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Male')].count()['first']

np.int64(43)

Question no. 7:  Find out the female Structural Engineers from province Alberta (AB)?

In [9]:
cust[(cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Female') & (cust['province'] == 'AB')].count()

prefix        4
first         4
last          4
email         4
gender        4
age           4
company       4
profession    4
phone         4
postal        4
province      4
cc_no         4
cc_exp        4
cc_type       4
price(CAD)    4
fav_color     4
ip            4
weekday       4
ampm          4
date          4
dtype: int64

Question no. 8: What is the max, min and average spending?

In [10]:
print('The maximum spending: ',cust['price(CAD)'].max())
print('The minimum spending: ',cust['price(CAD)'].min())
print('The average spending: ',cust['price(CAD)'].mean().round(2))

The maximum spending:  100.0
The minimum spending:  0.0
The average spending:  49.99

Question no. 9:  Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [17]:
cust[cust['price(CAD)'] == 0.0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

Question no. 10: As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

In [18]:
cust[cust['price(CAD)'] >= 100.0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

Question no. 11: How many emails are associated with this credit card number '5020000000000230'?

In [22]:
cust[cust['cc_no'] == 5020000000000230]['email'].count()

np.int64(2)

Question no. 12: We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

In [23]:
# hear apply user defined function.
def find(x):
    if x[5:] == '19':
        return 1
    else:
        return 0

In [26]:
# way #1 using sum function
cust['cc_exp'].apply(find).sum()

np.int64(2684)

In [25]:
# way #2 using lamda function
sum(cust['cc_exp'].apply(lambda x: x[5:]) == '19')

2684

Question no. 13: How many people use Visa as their Credit Card Provider?

In [27]:
cust[cust['cc_type'] == 'Visa']['prefix'].count()

np.int64(1721)

Question no. 14: Can you find the customer who spent 100 CAD using Visa?

In [28]:
cust[(cust['cc_type'] == 'Visa') & (cust['price(CAD)'] == 100.0)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

Question no.15: What are two most common professions?

In [29]:
cust['profession'].value_counts().head(1)

profession
Preschool Teacher    112
Name: count, dtype: int64

Question no. 16: Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)

In [30]:
cust['email'].apply(lambda x: x.split('@')[1]).value_counts().head()

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

Question no. 17:  Is there any customer who is using email with "am.edu"?

In [31]:
cust[cust['email'].apply(lambda x: x.split('@')[1]) == 'am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

The last qustion
Question no. 18: Which day of the week, the store gets more customers?

In [32]:
cust['weekday'].value_counts().head()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64

Thanks